<div class="app-agenda-page">
    @for (story of stories(); track $index) {
        <a [routerLink]="['/agenda', story.slug ]" routerLinkActive="active">
            <div class="app-agenda-page__item">
                @if (story.content.images.length) {
                    <img src="{{ story.content.images[0].filename | storyBlokUrl:300 }}" alt="{{ story.content.images[0].alt }}" loading="lazy"/>                
                }
                <div class="app-agenda-page__item__text">
                    <span>{{ story.content.date | appDate }}</span>
                    <strong class="app-agenda-page__item__text__title">{{ story.content.title }}</strong>
                </div>
            </div>
        </a>
    }
</div>
