<div class="first-page">
    <p>first-page works!</p>
    <a [routerLink]="['/second']">Go to second page</a>
    <br/>
    <br/>
    <a [routerLink]="['/second']" routerLinkActive="active">
        <div class="app-event-card">
            <div class="app-event-card__text-wrapper">
                <div class="app-event-card__text-wrapper__text">
                    <span>Date</span>
                    <span class="app-event-card__text-wrapper__text__title">
                        Title
                    </span>
                    <span class="app-event-card__text-wrapper__text__summary">
                        Summary
                    </span>
                </div>
                <div class="app-event-card__text-wrapper__button">
                    Lees meer
                </div>
            </div>
        </div>
    </a>
    <a [routerLink]="['/second']" routerLinkActive="active">
        <div class="app-event-card">
            <div class="app-event-card__text-wrapper">
                <div class="app-event-card__text-wrapper__text">
                    <span>Date</span>
                    <span class="app-event-card__text-wrapper__text__title">
                        Title
                    </span>
                    <span class="app-event-card__text-wrapper__text__summary">
                        Summary
                    </span>
                </div>
                <div class="app-event-card__text-wrapper__button">
                    Lees meer
                </div>
            </div>
        </div>
    </a>
    <a [routerLink]="['/second']" routerLinkActive="active">
        <div class="app-event-card">
            <div class="app-event-card__text-wrapper">
                <div class="app-event-card__text-wrapper__text">
                    <span>Date</span>
                    <span class="app-event-card__text-wrapper__text__title">
                        Title
                    </span>
                    <span class="app-event-card__text-wrapper__text__summary">
                        Summary
                    </span>
                </div>
                <div class="app-event-card__text-wrapper__button">
                    Lees meer
                </div>
            </div>
        </div>
    </a>
    <a [routerLink]="['/second']" routerLinkActive="active">
        <div class="app-event-card">
            <div class="app-event-card__text-wrapper">
                <div class="app-event-card__text-wrapper__text">
                    <span>Date</span>
                    <span class="app-event-card__text-wrapper__text__title">
                        Title
                    </span>
                    <span class="app-event-card__text-wrapper__text__summary">
                        Summary
                    </span>
                </div>
                <div class="app-event-card__text-wrapper__button">
                    Lees meer
                </div>
            </div>
        </div>
    </a>
</div>